body{
	background: black;
	color:lightgrey;
	font-size: 28px;
}

#pojemnik{
	width: 900px;
	margin: 0 auto;
}

#plansza{
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;
	
}

#szubienica{
	float: left;
	width: 450px;
	text-align: center;
	min-height: 280px;
}

#alfabet{
	float: left;
	width: 450px;
	text-align: center;
	min-height: 280px;
}